	  <a class="name" ng-show="editable" href="#" name="profile[name]" editable-text="user.name" onaftersave="updateProfile('name', $data)"><h1 class="name">{{user.name || "Name" }}</h1></a>
		<h1 class="name" ng-hide="editable">{{user.name || "Name" }}</h1>  


	  <a class="profession" ng-show="editable" href="#" name="profile[profession]" editable-text="user.profession" onaftersave="updateProfile('profession', $data)"><p class="profession">{{user.profession || "Profession" }}</p></a>
	  <p class="profession" ng-hide="editable">{{user.profession || "Profession" }}</p>



	  <a class="network" ng-show="editable" href="#" name="profile[network]" editable-text="user.network" onaftersave="updateProfile('network', $data)"><p class="network">{{user.network || "Network" }}</p></a>
	  <p ng-hide="editable" class="network">{{user.network || "Network" }}</p>

	  <hr>

	  <a class="short-bio" ng-show="editable" href="#" name="profile[bio]" editable-text="user.shortBio" onaftersave="updateProfile('short_bio', $data)"><p class="short-bio">{{user.shortBio || "Short Bio" }}</p></a>
	  <p ng-hide="editable" class="short-bio">{{user.shortBio || "Short Bio" }}</p>
	
	  <hr>
